* {
  box-sizing: border-box;
}

body,
html {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
}

.header-introduction {
  background: #ccc url('../img/header-background.jpg') center center;
  background-size: cover;
  height: 100%;
  padding: 20px;
  text-align: center;
}

.header-introduction h1,
.header-introduction h2 {
  color: #fff;
}

.header-introduction h1 {
  font-size: 3em;
}

#introduction {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -webkit-transition: opacity .5s ease .5s, -webkit-transform .5s ease .5s;
}

#introduction.loaded {
  opacity: 1;
  -webkit-transform: translateY(0);
}

.container {
  margin: 0 auto;
  width: 960px;
}

.my-work {
  margin-bottom: 50px;
}

.my-work:after {
  content: "";
  clear: both;
}

.about-me {
  margin: 40px 10px;
  width: 940px;
}

.project {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
}