header {
  background: black;
  color: white;
}

/** {
  box-sizing: border-box;
}

body,
html {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
}

.introduction {
  background: #ccc;
  height: 100%;
  padding: 20px;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.my-work {
  margin-bottom: 50px;
}

.about-me {
  margin: 40px 10px;
  width: 940px;
}

.project {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
}*/